name: Build and test

on:
  push:
    branches: [ python-backend ]
  pull_request:
    branches: [ python-backend ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Clean
        run: JDK_9="$JAVA_HOME" ./gradlew clean
      - name: Run ast tests
        run: JDK_9="$JAVA_HOME" ./gradlew :python:ast:test
      - name: Build
        run: JDK_9="$JAVA_HOME" ./gradlew dist
      - name: Run box tests (succeed even if they fail)
        run: (JDK_9="$JAVA_HOME" ./gradlew :python:box.tests:pythonTest --tests "org.jetbrains.kotlin.python.test.ir.semantics.IrPythonCodegenBoxTestGenerated" || true) | tee tests-out.txt
      - name: Generate failed-tests.txt
        run: less tests-out.txt | grep "FAILED" | grep "Codegen" | sort > failed-tests.txt
        if: always()
      - name: Compare failed-tests.txt
        run: diff -u failed-tests.txt python/experiments/failed-tests.txt
        if: always()
      - name: Compile python.kt
        run: dist/kotlinc/bin/kotlinc-py -libraries dist/kotlinc/lib/kotlin-stdlib-js.jar -Xir-produce-js -output out_ir.py python/experiments/python.kt
        if: always()
      - name: Compare out_ir.py
        run: diff -u out_ir.py python/experiments/out_ir.py
        if: always()
      - name: Generate stats about missing IR mapping
        run: less python/experiments/out_ir.py  | grep -Po "visit[a-zA-Z0-9_]+" | sort | uniq -c | sort -nr > missing.txt
        if: always()
      - name: Compare missing.txt
        run: diff -u missing.txt python/experiments/missing.txt
        if: always()
